$mdc-theme-primary: #009688;
$mdc-theme-on-primary: rgba(255, 255, 255, 0.9);
$mdc-theme-secondary: #3E4451;
$mdc-theme-on-secondary: #C8CCD4;
$mdc-theme-surface: #353C45;
$mdc-theme-on-surface: #C8CCD4;
$mdc-theme-background: #282c34;
$mdc-theme-on-background: #C8CCD4;
$mdc-theme-alert: rgb(240, 88, 0);
$corner-radius: 15px;
$rtl-reflexive: false;

@import "@material/button/mdc-button";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/list/mdc-list";
@import "@material/menu/mdc-menu";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/dialog/mdc-dialog";
@import "@material/fab/mdc-fab";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/textfield/mdc-text-field";
@import "@material/notched-outline/mdc-notched-outline";
@import "@material/textfield/helper-text/mdc-text-field-helper-text";
@import "@material/line-ripple/mdc-line-ripple";
@import "@material/select/mdc-select";
@import "@material/typography/mdc-typography";
@import "@material/snackbar/mdc-snackbar";

/* General Styles */

html, body {
  min-width: 405px;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  height: 100%;
  color: $mdc-theme-on-background;
  background-color: $mdc-theme-background;
}

.mdc-button {
  @include mdc-button-ink-color($mdc-theme-on-primary);
  @include mdc-button-corner-radius($corner-radius);
}

.mdc-text-field__input {
  text-align: center;
}

.mdc-text-field {
  @include mdc-notched-outline-corner-radius(8px);
  @include mdc-notched-outline-idle-corner-radius(8px);
}

.mdc-layout-grid__cell {
  border-radius: $corner-radius;
}

.mdc-layout-grid {
  
  // The sass mixins below do not work as intended, see: https://bit.ly/2LvcDyQ
  // To remedy this, /node_modules/@material/layout-grid/_variables.scss
  // has been modified as follows:
  //    $mdc-layout-grid-breakpoints: (
  //      ...
  //      tablet: 560px,
  //      ...
  //    ) !default;
  //    $mdc-layout-grid-max-width: 1320px !default;
  // You may have to reinstate these values as they are unlikely to survive an update
  // or git cloning.


  @include mdc-layout-grid('tablet', 16px, 840px);
  // @include mdc-layout-grid-max-width(1320px);
}

.mdc-dialog {
  z-index: auto !important; // Fix for safari on mac and ios bug
                            // where dialogs do not show up
}
.mdc-dialog__surface {
  border-radius: $corner-radius;
}

@media screen and (max-width: 559px) {
  .mdc-layout-grid {
    max-width: 375px;
  }
}

@media screen and (max-width: 405px) {
  .gw-usernamelink {
    display: none;
  }
}

/* Landing page styles */

#page-landing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $mdc-theme-background;
  background: radial-gradient(circle, $mdc-theme-secondary, $mdc-theme-background);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}

.gw-logo {
  font-size: 34px;
  font-family: Amaranth, sans-serif;
}

.gw-logo img {
  height: 128px;
  width: auto;
  top: 8px;
  margin-right: 0px;
  position: relative;
}

.gw-caption {
  margin: 10px 0 40px 0;
  font-family: 'Amaranth', sans-serif;
  font-size: 20px;
  opacity: 0.8;
}

/** Home Page Styles */

// Toolbar styles

.gw-toolbar {
  @include mdc-top-app-bar-ink-color(white);	
  @include mdc-top-app-bar-fill-color($mdc-theme-surface);
  @include mdc-top-app-bar-icon-ink-color($mdc-theme-on-surface);
  @include mdc-elevation(2);	
  white-space: nowrap;
  overflow: hidden;
}

.gw-title {
  font-family: 'Amaranth', sans-serif;
  margin-left: 10px;
}

.gw-title img {
  height: 40px;
  width: auto;
  top: -3px;
  position: relative;
  vertical-align: middle;
}

.gw-usernamelink {
  padding: 0 10px 0 0;
  border-radius: 19px 5px 5px 19px;
  text-transform: none;
  white-space: nowrap;
  color: $mdc-theme-on-surface;
  font-weight: 500;
}

.gw-avatar {
  height: 32px;
  width: 32px;
  display: inline-block;
  background-size: 32px 32px;
  border-radius: 32px;
  border: 2px white solid;
}

.gw-username {
  display: inline-block;
  line-height: 38px;
  vertical-align: top;
  width: calc(100% - 40px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  margin-left: 7px;
}

#gw-menu-dialog
.mdc-dialog__surface {
  width: 300px;
  max-height: 350px;
}

#gw-add-unit-dialog
.mdc-dialog__surface {
  width: 300px;
  max-height: 350px;
}

.gw-units-bar {
  @include mdc-top-app-bar-fill-color($mdc-theme-secondary);
  @include mdc-top-app-bar-icon-ink-color($mdc-theme-on-secondary);
  height: 48px;
}

.gw-tune-settings {
  @include mdc-fab-container-color($mdc-theme-primary);
  @include mdc-fab-ink-color($mdc-theme-on-primary);
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media(min-width: 1024px) {
  .gw-tune-settings {
    bottom: 1.5rem;
    bottom: 1.5rem;
  }
}

// Unit selection toolbar bar styles

.gw-long-textfield {
  width: 170px;
}

// Dashboard styles

.gw-card {
  @include mdc-elevation(2);
  background-color: $mdc-theme-secondary;
  height: 230px;
  display: block;
}

.gw-card__title {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 38px;
  background-color: $mdc-theme-surface;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.gw_card__content {
  display: flex;
  justify-content: center;
}

.card-icon {
  position: relative;
  top: 5px;
  font-size: 110px;
  text-align: center;
  margin-right: 10px;
}

.card-icon.with-margin {
  margin-right: 10px;
  top: 20px;
}

.card-icon__text {
  position: relative;
  font-size: 40px;
  top: 50px;
}

.gw-card__action {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.card-icon__form {
  position: relative;
  top: 10px;
}

.celsius-symbol {
  margin-left: -10px;
}

.gw-textfield {
  width: 120px;
  height: 48px !important;
  display: flex !important;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.mdc-text-field__input {
  // Used to fix firefox glitch where 
  // input arrows are outside textfield 
  width: 80%
}

// Miscellaneous
.gw-tune-settings {
  z-index: 99;
}

.gw-unit-select {
  margin-top: 20px;
  width: 170px;
  // The sass mixins below do not work as intended
  // To remedy this, /node_modules/@material/select/_variables.scss
  // has been modified as follows:
  //    $mdc-select-border-radius: 10px;
  // You may have to reinstate these values as they are unlikely to survive an update
  // or git cloning.
  // @include mdc-select-outline-shape-radius($corner-radius, $rtl-reflexive)
}

#add-unit__dashboard, #delete-unit {
  width: 170px;
}

#delete-unit {
  background-color: $mdc-theme-alert;
}

