$mdc-theme-primary: #009688;
$mdc-theme-on-primary: rgba(255, 255, 255, 0.9);
$mdc-theme-secondary: #3E4451;
$mdc-theme-on-secondary: #C8CCD4;
$mdc-theme-surface: #353C45;
$mdc-theme-on-surface: #C8CCD4;
$mdc-theme-background: #282c34;
$mdc-theme-on-background: #C8CCD4;


@import "@material/button/mdc-button";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/list/mdc-list";
@import "@material/menu/mdc-menu";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/dialog/mdc-dialog";
@import "@material/fab/mdc-fab";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/textfield/mdc-text-field";

/* General Styles */

html, body {
  min-width: 405px;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  height: 100%;
  color: $mdc-theme-on-background;
  background-color: $mdc-theme-background;
}

.mdc-button {
  @include mdc-button-ink-color($mdc-theme-on-primary);
}

/* Landing page styles */

#page-landing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $mdc-theme-background;
  background: radial-gradient(circle, $mdc-theme-secondary, $mdc-theme-background);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}

.gw-logo {
  font-size: 34px;
  font-family: Amaranth, sans-serif;
}

.gw-logo img {
  height: 44px;
  width: 44px;
  top: 8px;
  margin-right: 0px;
  position: relative;
}

.gw-caption {
  margin: 20px 0 40px 0;
  font-family: 'Amaranth', sans-serif;
  font-size: 20px;
  opacity: 0.8;
}

/** Home Page Styles */

// Toolbar styles

.gw-toolbar {
  @include mdc-top-app-bar-ink-color(white);	
  @include mdc-top-app-bar-fill-color($mdc-theme-surface);
  @include mdc-top-app-bar-icon-ink-color($mdc-theme-on-surface);
  @include mdc-elevation(2);	
  white-space: nowrap;
  overflow: hidden;
}

.gw-title {
  font-family: 'Amaranth', sans-serif;
  margin-left: 10px;
}

.gw-title a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.gw-title img {
  height: 40px;
  width: 40px;
  top: -3px;
  position: relative;
  vertical-align: middle;
}

.gw-usernamelink {
  padding: 0 10px 0 0;
  border-radius: 19px 5px 5px 19px;
  text-transform: none;
  white-space: nowrap;
  color: $mdc-theme-on-surface;
  font-weight: 500;
}

.gw-avatar {
  height: 32px;
  width: 32px;
  display: inline-block;
  background-size: 32px 32px;
  border-radius: 32px;
  border: 2px white solid;
}

.gw-username {
  display: inline-block;
  line-height: 38px;
  vertical-align: top;
  width: calc(100% - 40px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  margin-left: 7px;
}

#gw-menu-dialog
.mdc-dialog__surface {
  max-width: 280px;
}

.gw-units-bar {
  @include mdc-top-app-bar-fill-color($mdc-theme-secondary);
  @include mdc-top-app-bar-icon-ink-color($mdc-theme-on-secondary);
  height: 48px;
}

.gw-tune-settings {
  @include mdc-fab-container-color($mdc-theme-primary);
  @include mdc-fab-ink-color($mdc-theme-on-primary);
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media(min-width: 1024px) {
  .gw-tune-settings {
    bottom: 1.5rem;
    bottom: 1.5rem;
  }
}

// Unit selection toolbar bar styles


// Dashboard styles

.gw-card {
  @include mdc-elevation(2);
  background-color: $mdc-theme-secondary;
  height: 220px;
  min-width: 250px;
  display: block;
}

.gw-card__title {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 38px;
  background-color: $mdc-theme-surface;
}

.gw_card__content {
  display: flex;
  justify-content: center;
}

.card-icon {
  position: relative;
  top: 5px;
  font-size: 110px;
  text-align: center;
}

.card-icon.with-margin {
  margin-right: 20px;
  top: 20px;
}

.card-icon__text {
  position: relative;
  font-size: 50px;
  top: 50px;
}

.gw-card__action {
  display: flex;
  justify-content: center;
}

.card-icon__form {
  top: 13px;
}

.gw-timefield {
  width: 95px;
  display: flex !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}